<tr>
	<td align="center" style="font-family:'微软雅黑'; color:#888; padding:0px 0px 10px; line-height:20px; font-size:12px">
		<font style="font-family:Arial;">Copyright &copy; 2015</font> 焦点科技 版权所有</td>
</tr>