<tr>
	<td>
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td style="padding:20px 0px 15px">
						<a href="http://www.made-in-china.com/"><img alt="中国制造网,Made-in-China.com 弘扬中国制造 促进全球贸易，焦点进出口服务，Focus Imp &amp; Exp Service" border="0" height="45" src="http://edm.focuschina.com:80/MICEN/2015/3/logo.jpg" usemap="#Map" width="161" /></a></td>
					<td ng-show="Webmail !== true" align="right" style="font-size:12px; color:#666; line-height:16px;font-family:'宋体';padding-bottom:15px; " valign="bottom">
						如果您无法正常阅读邮件内容，请<a href="http://edm.made-in-china.com/MICEN/{{webUrl}}" style="color:#246bb3; text-decoration:none;">点此查看</a>。</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>