
<!-- 2A -->
<tr ng-show="memberType === '2a' && Webmail !== true" >
	<td style="color:#777; padding:5px; text-align:center; font-size:12px; line-height:18px;">
		为保证您可以正常接收邮件，请将<a href="mailto:Cservice@e.Made-in-China.com" style="font-family:Arial; font-size:12px; color:#246bb3; text-decoration:none;">Cservice@e.Made-in-China.com</a>加入到您的邮箱联系人中，或将其<a href="http://edm-gudie-cn.made-in-china.com/resource/mail/163.htm" style="font-family:Arial; font-size:12px; color:#246bb3; text-decoration:none;">设置白名单</a>。</td>
</tr>

<!-- 2B -->
<tr ng-show="memberType === '2b' && Webmail !== true">
	<td bgcolor="ffffff" style="color:#777; padding:5px; text-align:center; font-size:12px; font-family:'宋体'; line-height:18px;">
		为保证您可以正常接收邮件，请将<a href="mailto:Mail-cn@e.Made-in-China.com" style="font-family:Arial; font-size:12px; color:#246bb3; text-decoration:none;">Mail-cn@e.Made-in-China.com</a>加入到您的邮箱联系人中，或将其<a href="http://edm-gudie-cn.made-in-china.com/resource/mail/163.htm" style="font-family:Arial; font-size:12px; color:#246bb3; text-decoration:none;">设置白名单</a>。</td>
</tr>